<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clickitproduct"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="package.name.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.support.multidex.MultiDexApplication" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".Clickit"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activities.Main_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".FCM.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCM.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider507265152777589"
            android:exported="true" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".activities.UserLogin"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.UserRegister"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ShopRegisterForm"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activities.MapsActivity" />
        <activity android:name=".activities.ProductSearchList" />
        <activity android:name=".activities.OfferSearchList" />
        <activity android:name=".activities.ServicesSearchList" />
        <activity android:name=".activities.ClassifiedSearchList" />
        <activity android:name=".activities.ViewCart" />
        <activity android:name=".activities.PrivacyPolicy" />
        <activity android:name=".activities.AboutUs" />
        <activity android:name=".activities.Contact_us" />
        <activity android:name=".activities.Notifications" />
        <activity android:name=".activities.ShopGallery" />
        <activity android:name=".activities.MyWishList" />
        <activity android:name=".activities.ShopViewActivityNew" />

        <activity android:name=".activities.ProductsAdd" />
        <activity android:name=".activities.ProductHistory" />

        <activity android:name=".activities.OfferHistory" />
        <activity android:name=".activities.OfferAdd" />

        <activity android:name=".activities.CouponsAdd" />
        <activity android:name=".activities.CouponsGrabNearest" />

        <activity android:name=".activities.ClassifiedAdd" />

        <activity
            android:name=".activities.ServicesForm"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.Profile_new" />
        <activity android:name=".activities.UserServices" />
        <activity android:name=".activities.UserClassifieds" />
        <activity android:name=".activities.UserCouponsHistory" />

        <receiver
            android:name=".listener.SmsListener"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="016b17023971f5eaa9baa186e2fc508a9deb1387" />
    </application>
</manifest>